<!Doctype html>
<html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
        <title>Breast and Ovarian Cancer Screening Tool | {% block title %}{% endblock %} </title>
    </head>
      <!-- <head>
        {% if title %}
        <title>{{ title }} - The Breast and Ovarian Cancer Screening Tool |</title>
        {% else %}
        <title>The Breast and Ovarian Cancer Screening Tool |</title>
        {% endif %}
    </head> -->

    <body>
        <div>
            The Breast and Ovarian Cancer Screening Tool |:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('signup') }}">Sign Up</a>
            <a href="{{ url_for('login') }}">Log in</a>
            <a href="{{ url_for('logout') }}">Log out</a>
            <a href="{{ url_for('screening') }}">Screening Tool</a>

        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script> -->
    </body>
</html>
