<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>Breast and Ovarian Cancer Screening Tool
        <!-- <a href="/index">Home</a>
        <a href="/login">Login</a> -->
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('signup') }}">Sign Up</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('screening') }}">Screening Tool</a>

        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
